#banner
  .banner_content
    %h1 File Cabinet
    %p Your Life's work. Organized always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Kombucha mlkshk skateboard irony wayfarers. Cornhole messenger bag meditation kale chips fanny pack, tacos asymmetrical man bun listicle blog.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
